[Unit]
Description=Oscar the Plex Grouch - NAS Trash Cleaner
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/plex-grouch.sh
User=plex
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
